<div class='row player-container row-no-padding' participant-number={{player.participantNo}} np={{player.normalizedParticipantNo}} {{ action "select" }}>

    <div class='col-lg-4 col-md-4 col-sm-3 col-xs-7 col-sm-push-9 col-xs-push-6 col-md-push-0 one-line h60 f-left'>
        <span class='v-align-helper'></span>
        
        {{#if player.leagueerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        
        {{else}}
            {{#if stages.league}}
            <!-- Two medals components, one visible when having a larger devide than small and one for below -->
            <div class='v-align medal-wrapper hidden-xs hidden-sm'><span class='v-align-helper'></span><img src="assets/images/medals/{{player.league}}.png" class='medal'></div>
        
            <div class='v-align league-text'>
                <span class='text-larger'>{{player.league}} {{player.division}}</span>
                <div class='small'>
                    {{player.rankedWins}}W/{{player.rankedLosses}}L({{player.rankedWinrate}}%)
                </div>
            </div>
            <div class='v-align medal-wrapper visible-sm-xs'><span class='v-align-helper'></span><img src="assets/images/medals/{{player.league}}.png" class='medal'></div>
            {{else}}
            <div class='v-align'><img src='assets/select2-spinner.gif'></div>
            {{/if}}
        {{/if}}
    </div>

    <div class='col-lg-3 col-md-3 col-sm-4 col-sm-push-2 hidden-xs hidden-md one-line h60'>
        <span class='v-align-helper'></span>
        
        {{#if player.championerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        
        {{else}}
            {{#if stages.champion}}
            <div class='v-align'>
                <!-- Only show this info if there are data available -->
                {{#if player.championWins}}
                <lb>{{player.championName}}</lb>
                <div class='small'>
                    {{player.championWins}}W/{{player.championLosses}}L
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class='v-align'><img src='assets/select2-spinner.gif'></div>
            {{/if}}
        {{/if}}
    </div>

    <div class='col-lg-5 col-md-8 col-sm-5 col-xs-6 col-xs-pull-6 col-sm-pull-7 col-md-pull-0 one-line h60 v-align'>
        <span class='v-align-helper'></span>
        <div class='v-align user-agent-height'>
            <span class='text-larger player-name'>{{player.name}}</span><br />
            <small class='hidden-lg hidde-sm visible-md visible-xs'>{{player.championWins}}W/{{player.championLosses}}L</small>
        </div>
        <div class='champ-icon-wrapper h60'>
            <img src="{{player.image}}" class='champ-icon'>
        </div>
    </div>
</div>