<div class='row player-container row-no-padding' np={{player.normalizedParticipantNo}} {{ action "toggleDetails" }}>

    <div class='col-lg-5 col-md-8 col-sm-5 col-xs-6 one-line h60 v-align'>
        <div class='champ-icon-wrapper h60'>
            {{spriteimage player.sprite 50 champ-icon player.championName}}
        </div>
        <span class='v-align-helper'></span>
        <div class='v-align user-agent-height'>
            <span class='text-larger'>{{player.name}}</span><br />
            <small class='hidden-lg hidde-sm visible-md visible-xs'>{{player.championWins}}W/{{player.championLosses}}L</small>
        </div>
    </div>

    <div class='col-lg-3 col-md-3 col-sm-4 hidden-xs hidden-md one-line h60'>
        <span class='v-align-helper'></span>
        
        {{#if player.championerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        
        {{else}}
            {{#if stages.champdata}}
            <div class='v-align'>
                <!-- Only show this info if there are data available -->
                {{#if player.championWins}}
                <lb>{{player.championName}}</lb>
                <div class='small'>
                    {{player.championWins}}W/{{player.championLosses}}L
                </div>
                {{/if}}
            </div>
            {{else}}
            <div class='v-align'><img src='assets/select2-spinner.gif'></div>
            {{/if}}
        {{/if}}
    </div>

    <div class='col-lg-4 col-md-4 col-sm-3 col-xs-6 one-line h60 f-right'>
        <span class='v-align-helper'></span>
        
        {{#if player.leagueerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        
        {{else}}
            {{#if stages.leaguedata}}
            <div class='v-align league-text'>
                <span class='text-larger'>{{player.league}} {{player.division}}</span>
                <div class='small'>
                    {{player.rankedWins}}W/{{player.rankedLosses}}L({{player.rankedWinrate}}%)
                </div>
            </div>
            <div class='v-align medal-wrapper'><span class='v-align-helper'></span><img src="assets/images/medals/{{player.league}}.png" class='medal'></div>
            {{else}}
            <div class='v-align'><img src='assets/select2-spinner.gif'></div>
            {{/if}}
        {{/if}}
    </div>
</div>

<!-- Expanded informnation -->
<div class='row expandable player-expand'>

    <div class='inline-wrap'>
        <div class='play-style'>
            <h3>Play style</h3>
            {{#if player.roleserror}}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            {{else}}
                {{#if stages.roles}}
                <table>
                    <tr>
                        <th>Role</th>
                        <th>Games</th>
                        <th>Percent</th>
                    </tr>

                    {{#if player.roles.Top}}
                        <tr>
                            <td>{{player.roles.Top.role}}</td>
                            <td>{{player.roles.Top.games}}</td>
                            <td>{{player.roles.Top.percent}}%</td>
                        </tr>
                    {{/if}}

                    {{#if player.roles.Jungle}}
                        <tr>
                            <td>{{player.roles.Jungle.role}}</td>
                            <td>{{player.roles.Jungle.games}}</td>
                            <td>{{player.roles.Jungle.percent}}%</td>
                        </tr>
                    {{/if}}

                    {{#if player.roles.Mid}}
                        <tr>
                            <td>{{player.roles.Mid.role}}</td>
                            <td>{{player.roles.Mid.games}}</td>
                            <td>{{player.roles.Mid.percent}}%</td>
                        </tr>
                    {{/if}}

                    {{#if player.roles.Adc}}
                        <tr>
                            <td>{{player.roles.Adc.role}}</td>
                            <td>{{player.roles.Adc.games}}</td>
                            <td>{{player.roles.Adc.percent}}%</td>
                        </tr>
                    {{/if}}

                    {{#if player.roles.Support}}
                        <tr>
                            <td>{{player.roles.Support.role}}</td>
                            <td>{{player.roles.Support.games}}</td>
                            <td>{{player.roles.Support.percent}}%</td>
                        </tr>
                    {{/if}}

                    {{#if player.roles.Other}}
                        <tr>
                            <td>{{player.roles.Other.role}}</td>
                            <td>{{player.roles.Other.games}}</td>
                            <td>{{player.roles.Other.percent}}%</td>
                        </tr>
                    {{/if}}
                    </table>
                
                {{else}}
                <div class='v-align'><img src='assets/select2-spinner.gif'></div>
                {{/if}}
            {{/if}}
        </div>

        <div class='match-history'>
            <h3>Last 10 matches</h3>
            {{#if player.roleserror}}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            {{else}}
                {{#if stages.matchhistory}}
                    {{#each player.matchHistory as |game|}}
                    <div class='champ-icon-small-wrapper' data-win={{game.win}}>
                        {{spriteimage game.sprite 48 "champ-icon-small" champion.name}}
                    </div>
                    {{/each}}
                {{else}}
                <div class='v-align'><img src='assets/select2-spinner.gif'></div>
                {{/if}}
            {{/if}}
        </div>

    </div>

    <div class='most-played'>
        <table class='mostPlayedChampions'>
        <tr>
            <th colspan="4"><h3>Most played champions</h3></th>
        </tr>
            {{#if player.roleserror}}
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            {{else}}
                {{#if stages.mostplayed}}
                <tr>
                    <th></th>
                    <th>Games</th>
                    <th>Winrate</th>
                    <th><abbr title="Kills deaths assists">KDA</abbr></th>
                </tr>
                    {{#each player.mostPlayed as |champion|}}
                    <tr>
                        <td>{{spriteimage champion.sprite 48 "champ-icon-small" champion.name}}</td>
                        <td>{{champion.games}}</td>
                        <td>{{champion.winrate}}%</td>
                        <td>{{champion.KDA}}</td>
                    </tr>
                    {{/each}}
                {{else}}
                <div class='v-align'><img src='assets/select2-spinner.gif'></div>
                {{/if}}
            {{/if}}
        </table>
    </div>

</div>