<div class='player-container h60 flex-row center flex-stretch' participant-number={{player.participantNo}} {{ action "select" }}>
    <!-- The champion icon and player -->
    <span class='flex-row name-wrapper center'>
        <!-- Team identifier -->
        <span class='team-identifier' alt='Blue team'></span>
        
        <!-- Champion icon -->
        <img src="{{player.image}}" class='champ-icon'>
        
        <!-- Player name -->
        <span class='flex-column padded'>
            <span class='text-larger player-name'>{{player.name}}</span>
            <span class='small hidden-lg hidden-sm visible-md visible-xs'>{{player.championWins}}W/{{player.championLosses}}L</span>
        </span>
    </span>

    <!-- Champion name and stats -->
    <!-- Display error if there was an error received -->
    {{#if player.championerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    
    {{else}}
        <!-- Check to see if the stage has been reached -->    
        {{#if stages.champion}}
            <!-- Only show this info if there are data available -->
            {{#if player.championGames}}
                <span class='flex-column champion-wrapper hidden-xs hidden-sm'>
                    <span class='text-larger'>{{player.championName}}</span>
                    <span class='small'>{{player.championWins}}W/{{player.championLosses}}L</span>
                </span>
            {{/if}}
        <!-- Show loading sign if the stage has not been reached -->
        {{else}}
            <span class='v-align'><img src='assets/select2-spinner.gif'></span>
        {{/if}}
    {{/if}}

    <!-- The League icon and ranked stats -->
    {{#if player.leagueerror}}
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        
    {{else}}
        {{#if stages.league}}
            <span class='flex-row league-wrapper'>
                <!-- Player name -->
                <span class='flex-column padded'>
                    <span class='text-larger player-name'>{{player.league}} {{player.division}}</span>
                    {{#if player.rankedWins}}
                        <span class='small'>{{player.rankedWins}}W/{{player.rankedLosses}}L({{player.rankedWinrate}}%)</span>
                    {{/if}}
                </span>

                <!-- Medal icon -->
                <img src="assets/images/medals/{{player.league}}.png" class='medal'>
            </span>
        {{else}}
        <span class='v-align'><img src='assets/select2-spinner.gif'></span>
        {{/if}}
    {{/if}}
</div>