<div class="row currentgame">
    <div class="col-xs-12">

        <div class="row header-row">
            {{#if crucialError}}
                <div class="col-xs-8 alert alert-danger" role="alert">
                    {{crucialError}}
                </div>
            {{else}}
                <div class="col-xs-8">
                </div>
            {{/if}}
            <div class="col-sm-4 col-xs-12 player-search-container">
                <div class="input-group">
                    <form class="form-inline no-margin">
                      <div class="form-group">
                            {{input class="form-control player-search-input" placeholder="Search for player" value=playerName}}
                      </div>
                      <button type="submit" {{ action "getData" }} class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row player-rows'>
    {{#if gameData}}
    <div class='row coreinfo'>
        <div class='col-xs-12'>
            <span class='info'>
                Game time: {{readableGameTime}}
            </span>
            <span class='info'>
                {{gameData.queue}}
            </span>
            <span class='info'>
                {{gameData.map}}
            </span>
        </div>
    </div>
    {{/if}}
    {{#if stages.core}}
        <div class='row'>
            <div class='team1-container col-lg-6 col-md-6 col-xs-12'>
                {{#each team1_players as |player|}}
                    {{player-comp player=player stages=stages playerWasSelected="setSelectedPlayer"}}
                {{/each}}
            </div>

            <div class='team2-container col-lg-6 col-md-6 col-xs-12'>
                {{#each team2_players as |player|}}
                     {{player-comp-team2 player=player stages=stages playerWasSelected="setSelectedPlayer"}}
                {{/each}}
            </div>
        </div>
    {{else}}
        {{#if currentGameId}}
            <div class='row core-loading-row'>
                <img src="assets/select2-spinner.gif">
            </div>
        {{/if}}
    {{/if}}
</div>

{{#if selectedPlayer}}
    {{partial "selected-player"}}
{{/if}}