<div class="row currentgame">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12 header">
                <h2>Game information</h2>
                <div class="input-group player-search-container">
                    <form class="form-inline no-margin">
                      <div class="form-group">
                            {{input class="form-control player-search-input" placeholder="Search for player" value=playerName}}
                      </div>
                      <button type="submit" {{ action "getData" }} class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>
        </div>
        
        {{#if crucialError}}
        <div class='row danger-row'>
            <div class='col-xs-12 alert alert-danger' role='alert'>
                {{crucialError}}
            </div>
        </div>
        {{else}}
            {{#if gameData}}
            <div class='row coreinfo'>
                <div class='col-xs-12'>
                    <span class='info'>
                        Game time: {{readableGameTime}}
                    </span>
                    <span class='info'>
                        {{gameData.readableQueue}}
                    </span>
                    <span class='info'>
                        {{gameData.readableMap}}
                    </span>
                </div>
            </div>
            {{/if}}

            {{#if stages.core}}
            <div class='row'>
                <div class='team1-container col-lg-6 col-md-6 col-xs-12'>
                    {{#each team1_players as |player|}}
                        {{player-comp player=player stages=stages}}
                    {{/each}}
                </div>

                <div class='team2-container col-lg-6 col-md-6 col-xs-12'>
                    {{#each team2_players as |player|}}
                         {{player-comp-team2 player=player stages=stages}}
                    {{/each}}
                </div>
            </div>
            {{else}}
                {{#if currentGameId}}
                    <div class='row core-loading-row'>
                        <img src="assets/select2-spinner.gif">
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</div>